{% extends "base.html" %}
<!-- {% load static from static %} -->
{% block content %}
   
<h5>Work Experience</h5>
<!-- <hr>
<h6>Amazon Connect Developer @ Quintrix Solution</h6>
<p>Currently, I have been contracted out to Cognizant, and developing Contact Center as Solution using AWS services.</p>
<p>For about year now, I have been developing APIs that integrate with Amazon Connect.</p>
<hr>
<h6>Freelance Developer</h6>
<p>Two full years experience developing solutions for web applications using Python and AWS.</p>
<hr>
<h6>Software Support Engineer @ Awareness Technologies</h6>
<p>Provided troubleshooting for employee monitoring software.</p>
<p>While working for Awareness, I was freelancing on the side.</p>
<hr> -->
<div class="card-group">
    <!-- quintrix -->
    <div class="card">
        
            <div class="card-body">
                <h5 class="card-title">AWS Cloud Developer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Quintrix Solution</h6>
                <p class="card-text">Currently, I am contracted out to Cognizant migrating and developing on-premise Contact Center as Solution to Amazon Connect. For about year now, I have been developing APIs that integrate with Amazon Connect and Snowflake data lakes.</p>
            <!-- <a href="https://www.quintrixsolutions.com/" class="card-link">Quintrix Solutions</a>
            <a href="https://www.cognizant.com/us/en?cid=pse07692384610001" class="card-link">Cognizant</a> -->
            </div>
        
    </div>
    <!-- freelance -->
    <!-- <div class="col-sm-6"> -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Freelance Developer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Self</h6>
                <p class="card-text">Two full years experience developing solutions for web applications using Python and AWS.</p>
                <!-- <a href="https://www.quintrixsolutions.com/" class="card-link">Quintrix Solutions</a>
                <a href="https://www.cognizant.com/us/en?cid=pse07692384610001" class="card-link">Cognizant</a> -->
            </div>
        </div>
    <!-- </div> -->

    <!-- ati -->
    <!-- <div class="col-sm-6"> -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Software Support Engineer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Awareness Technologies</h6>
                <p class="card-text">Provided troubleshooting for employee monitoring software. While working for Awareness, I was freelancing on the side.</p>
                <!-- <a href="https://www.quintrixsolutions.com/" class="card-link">Quintrix Solutions</a>
                <a href="https://www.cognizant.com/us/en?cid=pse07692384610001" class="card-link">Cognizant</a> -->
            </div>
        </div>
    <!-- </div> -->
</div>

{% endblock %}