{% extends "base.html" %}

{% block content %}
   
<h5>Work Experience</h5>
<hr>
<h6>Amazon Connect Developer @ Quintrix Solution</h6>
<p>Currently, I have been contracted out to Cognizant, and developing Contact Center as Solution using AWS services.</p>
<p>For about year now, I have been developing APIs that integrate with Amazon Connect.</p>
<hr>
<h6>Freelance Developer</h6>
<p>Two full years experience developing solutions for web applications using Python and AWS.</p>
<hr>
<h6>Software Support Engineer @ Awareness Technologies</h6>
<p>Provided troubleshooting for employee monitoring software.</p>
<p>While working for Awareness, I was freelancing on the side.</p>
<hr>

{% endblock %}