{% extends "base.html" %}
{% load static from static %}
{% block content %}
<div class="container">
<h1>My Certs & Education!</h1>
<!-- image of face -->
<div class="card card-body h-100  border-info" id="profile-wrapper">
    <img id="profile-pic" src="{% static '/images/headshot.jpeg' %}" >
<div>
<hr>
<p>Backend software developer with over 2 years of experience in the technology industry looking for opportunities to grow and learn. The following is my tech-per-tise: Python, Django, Flask, FastAPI, SQL, and AWS</p>

<p>Looking to work for companies that help improve social justice, the protecting the environment against climate change, and promote diversity.</p>

<p>I am a queer man looking to grow in building applications that help promote change.</p>
<hr>

<!-- goals  -->
<h1>My Goals</h1>
<!-- short term -->
<!-- long term -->
<div class="row">
    <div class="col-md-6">
        <div class="card card-body h-80 center">
            <h5>Short term goals</h5>
            <hr>
            <p>Get AWS Developer Associate certified, and to continually learn new technologies. </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-body h-80 center">
            <h5>Long term goal</h5>
            <hr>
            <p>I would like to become a Solutions Architect and get my MBA to become a ethical business leader that drives change for the better.</p>
        </div>
    </div>
</div>
</div>   
<!-- hobbies -->


{% endblock %}