{% extends "base.html" %}
{% load static from static %}
{% block content %}
<div class="container">
    <h1>My Education</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-80 center">
                <h5>AWS Certified Cloud Practitioner</h5>
                <img id="profile-pic" src="{% static '/images/awsccp.png' %}" >
                <hr>
                <p>AWS Cloud fluency and foundational AWS Knowledge.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-80 center">
                <h5>Bottega Unviersity - Full Stack Web Engineer</h5>
                <img id="profile-pic" src="{% static '/images/bottegauniversity.png' %}">
                <hr>
                <p>I would like to become a Solutions Architect and get my MBA to become a ethical business leader that drives change for the better.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-80 center">
                <h5>Southern Connecticut State Unviersity - B.S. Exercise Science</h5>
                <img id="profile-pic" src="{% static '/images/scsu.png' %}">
                <hr>
                <p>I would like to become a Solutions Architect and get my MBA to become a ethical business leader that drives change for the better.</p>
            </div>
        </div>


    </div>

</div>   
<!-- hobbies -->


{% endblock %}