{% load static %}

<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <nav class="'navbar navbar-dark bg-dark">
            <div class="ms-auto">
                <a href="{% url 'about' %}" class="btn btn-outline-light me-1">About</a>
                <a href="{% url 'companies' %}" class="btn btn-outline-light me-1">Work Experience</a>
                <a href="{% url 'mycerts' %}" class="btn btn-outline-light me-1">Education</a>
                <a href="{% url 'myprojects' %}" class="btn btn-outline-light me-1">Projects</a>
            </div>
        </nav>
        <div class="my-5 text-center container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>