{% extends "base.html" %}

{% block content %}
   
<h1>About Me!</h1>
<!-- <p>Today is {{today}}</p> -->
<hr>
<p>Backend software developer with over 2 years of experience in the technology industry looking for opportunities to grow and learn. The following is my tech-per-tise: Python, Django, Flask, FastAPI, SQL, and AWS</p>

<p>Looking to work for companies that help improve social justice, the protecting the environment against climate change, and promote diversity.</p>

<p>I am an openly queer man looking to grow in building applications that help promote change.</p>
<hr>

{% endblock %}